@model communityThrive2.Models.loginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.Title = "UserLogin";
}




<h2> User Login </h2>

@using (Html.BeginForm("Login", "UserManagement", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.emailAddress, htmlAttributes: new { @class = "col-md-2 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.emailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.emailAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userPassword, htmlAttributes: new { @class = "col-md-2 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.userPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="loginButton" type="submit" value="Login">
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Create User", "Register User")
</div>