@model IEnumerable<communityThrive2.Models.companyModel>


@{
    ViewBag.Title = "About";
}


@*<script>
        $(document).ready(alert("Click to continue"));
</script>*@


<div class="jumbotron">
    <h1>The items in the database</h1>


    
        @if (Model == null)
        {
            <h1>its null</h1>
            <form action="~/Home/About" method="post">
                CompanyID:<input type="text" name="userInput" />
                <input type="submit" name="userInput" value="Search" />
                <div>
                <button type="button" onclick="location.href = '@Url.Action("Index", "Home")' ">Return Home</button>
                </div>
                
            </form>



        }
        else if (Model != null)
        {
            <h1>not null</h1>
            <form action="~/Home/About" method="post">
                CompanyID:<input type="text" name="userInput"/>
                <input type="submit" id="userInput" value="Search" />
                <div>
                <button type="button" onclick="location.href = '@Url.Action("Index", "Home")' ">Return Home</button>
                </div>
                @foreach (var item in Model)
                {
                <div>
                    <h4>Company ID:</h4>
                    @item.companyID

                    <h4>Company Name:</h4>
                    @item.companyName

                    <h4>Company Description:</h4>
                    @item.companyDescription

                    <h4>Company location:</h4>
                    @item.companyLocation

                    <h4>Company Demographic:</h4>
                    @item.companyDemographic

                    

                    



                </div>
                }
            </form>

            
       
    }









</div>
