@model communityThrive2.Models.companyModel

@{
    ViewBag.Title = "CreateCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateCompany</h2>

@using (Html.BeginForm("SaveCompany", "Company", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.companyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.companyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.companyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.companyDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.companyDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.companyDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.companyDemographic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.companyDemographic, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.companyDemographic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
    @Html.LabelFor(model => model.companyLogo, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.ValidationMessageFor(model => model.companyLogo, "", new { @class = "text-danger" })
        
    </div>
</div>

            <div class="form-group">
                <div class="col-md-2 col-md-10">
                    <input id="ctLogo" type="file" name="companyLogo" />
                    <input type="submit" name="submit" value="Create">
                </div>
            </div>
      </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
