@model communityThrive2.Models.companyModel
@{
    ViewBag.Title = "ManageCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-2 col-md-10">
        <section id="companyForm">
            @using (Html.BeginForm("ManageCompany", "Company", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {<hr style="width:50%">
                    <h5> Update Company Info</h5>
                    
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.companyName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.companyName, new { @class = "col-md-2 control-label" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.companyDescription, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.companyDescription, new { @class = "col-md-2 control-label" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.companyDemographic, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.companyDemographic, new { @class = "col-md-2 control-label" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.companyLogo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">

                        <style type="text/css">
                            body {
                                font-family: Arial;
                                font-size: 10pt;
                            }

                            #dvPreview {
                                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
                                min-height: 150px;
                                min-width: 150px;
                                display: none;
                            }
                        </style>

                        <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>

                        <script type="text/javascript">
                            function showpreview(input) {

                                if (input.files && input.files[0]) {

                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        $('#imgpreview').css('visibility', 'visible');
                                        $('#imgpreview').attr('src', e.target.result);
                                    }
                                    
                                    reader.readAsDataURL(input.files[0]);
                                    reader.result()
                                }

                            }

                        </script>
                        </div>
                        <form id="form1" runat="server">
                            <div>
                                <input class="col-md-2 col-md-10" id="fuimage" type="file" onchange="showpreview(this);" />
                                <img id="imgpreview" height="150" width="150" src="" style="border-width: 0px; visibility: hidden;" />
                            </div>
                        </form>

                    <script>
                        //Callback handler for form submit event
                                    $("#multiform").submit(function(e)
                                    {

                                    var formObj = $(this);
                                    var formURL = formObj.attr("action");
                                    var formData = new FormData(this);
                                    $.ajax({
                                    url: formURL,
                                    type: 'POST',
                                    data:  formData,
                                    mimeType:"multipart/form-data",
                                    contentType: false,
                                    cache: false,
                                    processData:false,
                                    success: function(data, textStatus, jqXHR)
                                    {

                                    },
                                    error: function(jqXHR, textStatus, errorThrown)
                                    {
                                    }
                                    });
                                    e.preventDefault(); //Prevent Default action.
                                    e.unbind();
                                    });
                                    $("#multiform").submit(); //Submit the form
                        </script>

                        <div class="form-group">
                            <div class="col-md-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Save Changes" />
                            </div>
                        </div>
                    </div>
            }
        </section>
    </div>
</div>

